// Override this file to add your own SCSS styling.
body, .section-heading h1, nav span, .navbar-brand{
	font-family: "josefin sans", Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}

.container, .container-xl, .article-container, .universal-wrapper{
	max-width:1600px;
	padding: 0px;
}

.universal-wrapper{
	width:1600px;
}
.article-style .bio-text {
	text-align: left;
	max-width: 100% 
}

.home-section:first-of-type{
	padding-top: 20px;
}
.home-section{
	padding: 20px;
}
.home-section {
	margin: 10px;
	padding: 30px;
}
.col-lg-4{
	max-width: 19%;
	min-width: 270px
}

.col-lg-8{
	max-width: 79%;
	flex: 0 0 79%;
	font-size: 0.9rem;
}
.card{
	width: 32%;
	display: inline-flex;
	height: 256px;
	min-width:300px;
}
.card.course{
	margin-bottom: 5px;
}
.card-body img{
	height: 50px;
}
.card-body{
	padding: 1rem;
}
.projects-container{
	min-width: 300px;
}

.avatar-circle{
	border-radius: 10%
}
#profile{
	text-align: right;
}
