// Override this file to add your own SCSS styling.
body {
	font-family: Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}

.container, .container-xl {
	max-width:1600px;
}

.article-style .bio-text {
	text-align: left;
	max-width: 100% 
}

.article-style, .alert{
	font-size: 20px;
}

.home-section:first-of-type, .home-section{
	padding-top: 0px;
}

.home-section {
	padding: 10px;
}

.col-12{
	padding:0px;
}