// Override this file to add your own SCSS styling.
body, .section-heading h1, nav span, .navbar-brand{
	font-family: "josefin sans", Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}

.container, .container-xl, .article-container, .universal-wrapper{
	max-width:1600px;
	padding: 0px;
}

.universal-wrapper{
	width:1600px;
}
.article-style .bio-text {
	text-align: left;
	max-width: 100% 
}

.home-section:first-of-type{
	padding-top: 20px;
}
.home-section{
	padding: 20px;
}
.home-section {
	margin: 10px;
	padding: 30px;
}
.col-lg-4{
	max-width: 19%;
	min-width: 295px
}

.col-lg-8{
	max-width: 79%;
	flex: 0 0 79%;
	font-size: 0.9rem;
}
.card{
	width: 32%;
	display: inline-flex;
	height: 256px;
	min-width:300px;
}
.card.course{
	margin: 3px;
}
.card-body img{
	height: 50px;
}
.card-body{
	padding: 0.8rem;
}
.projects-container{
	min-width: 300px;
}

.avatar-circle{
	border-radius: 10%
}
#profile{
	text-align: right;
}

.fab, .fas, .ai{
	color: rgb(31, 61, 131);
}
.powered-by, .powered-by .fab, .powered-by a{
	color:#a8a8a8;
}
.btn-primary{
	background-color: #0d72ad;
	border-color: #0b3262;
}
.btn-primary:hover{
	background-color: #106d89;
	border-color: #07415c;
}

.col-md-6{
	max-width: 100%;
	font-size: 0.9rem;
}

.col-md-6 .section-subheading{
	font-size: 0.9rem;
}

.isotope-item{
	margin: 0;
	padding: 0;
	width: 49%;
	height: 250px;
	min-width: 300px;
	min-height: 200px;
}
.mb-5{
	margin-bottom: 0 !important;
}

.view-showcase{
	margin: 15px;
	padding: 0;
	width: 100%;
}
.view-showcase .row{
	margin: 0;
	padding: 0;
}
.view-showcase img{
	height: 180px !important;
	border: #bcbcbc 1px solid;
}

// .isotope-item {
// 	width: 33%;
// }


// .isotope-item .row {
// 	margin: 0;
// 	padding: 0;
// }
// .view-showcase .row{
// 	// border: 1px solid #f0f0f0;
// }
// .view-showcase .row:hover{
// 	// border: 1px solid #ababab;
// 	// background-color: #e7e7e7;
// }
// .col-md-6{
// 	max-width: 100%;
// 	flex: 0 0 100%;
// }
